<section id="contact">

    <div class="container">

        <h2>Kontaktformular</h2>

        <div class="form-container">

            {% include 'components/forms/contact.twig' %}

        </div>

    </div>

</section>
