<header>

    <div class="contact-header">
        <!-- FlexBox container -->
        <div class="container">

            <div class="row align-items-center">

                <div class="col-md-6 col-sm-12">
                    <div class="row">
                        <p><i class="fas fa-phone"></i> <a href="tel:+4923092018770">+49 (0) 2309 2018770</a></p>
                        <p><i class="fas fa-envelope"></i> <a href="mailto:info@content-creator.org">info@content-creator.org</a> </p>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="contact-cta">
                        <a class="button button-primary" href="mailto:info@content-creator.org">Kontakt</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <nav class="navbar">

        <div class="container">
            <div class="row align-items-center">
                <div class="navbar-brand">
                    <a href="/">

                        <img src="/images/logo.png" alt="Logo">

                    </a>
                </div>

                <div class="navbar-toggle">
                    <i class="fa fa-2x fa-bars"></i>
                </div>

                <ul class="navbar-nav" id="navbarContent">
                    <li class="navbar-item">
                        <a href="/">Startseite</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>
