<section id="partner">

    <div class="container">

        <h2>Unsere Partner</h2>

        <div class="row">

            <div class="col-md-3">

                <a href="https://www.team-netzwerk.net">
                    <img src="/images/team-netzwerk.png" alt="Team-Netzwerk.net">
                </a>

            </div>

            <div class="col-md-3">

              <a href="https://vicuna.io">
                <img src="/images/vicuna.png" alt="Vicuna">
              </a>

            </div>

        </div>

    </div>

</section>
