<section id="what-we-are">

    <div class="container">

        <div class="row">

            <div class="col-md-6 col-sm-12">

            </div>

            <div class="col-md-6 col-sm-12">
                <h2>Lösungen für Content Creator</h2>
            </div>

        </div>

    </div>

</section>
