<section id="what-we-are">

    <div class="container">

        <div class="row align-items-center">

            <div class="col-md-4 col-sm-12">
                <img src="/images/content.jpg" alt="Content">
            </div>

            <div class="col-md-8 col-sm-12">
                <h2>Lösungen für Content Creator</h2>

                <p>Mit dem Fokus auf Content Creator und deren Communities stellt content-creator.org Unterstützung
                bereit. Dazu zählen:</p>
                <ul>
                    <li>Media Automation durch Bots</li>
                    <li>Stream Moderation & Management durch Bots</li>
                    <li>Teamspeaks & Discords</li>
                    <li>Community Server</li>
                    <li>Webseiten & Domains</li>
                </ul>
            </div>

        </div>

    </div>

</section>
