<!DOCTYPE html>
<html lang="de">
  <head>
    <!-- Charset -->
    <meta charset="UTF-8">

    <!-- ViewPort -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>{{ title }}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico">

    <!-- Tracking and Analytics Tools -->
    {% include 'analytics/google-analytics.twig' %}

    <!-- Stylesheets -->
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <!-- Robots -->
    <meta name="robots" content="index, follow">
  </head>
  <body>
    {% include 'components/header.twig' %}

    {% block body %}{% endblock %}

    {% include 'components/footer.twig' %}
  </body>
</html>
